<template>
	<div>
		<FilterBar />
		<UsersList />
	</div>
</template>

<script>
import FilterBar from '../components/FilterBar.vue';
import UsersList from '../components/UsersList.vue';

export default {
	name: 'Home',
	components: {
		FilterBar,
		UsersList
	}
}
</script>
