<template>
	<div>
		<form @submit.prevent="filtrarUsuarios">
			<input type="text" v-model="filtro" placeholder="Filtro...">
			<input type="submit" value="Buscar">
		</form>
	</div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
	name: 'FilterBar',
	data () {
		return {
			filtro: ''
		}
	},
	methods: {
		...mapActions( ['setFiltro'] ),
		filtrarUsuarios () {
			this.setFiltro( this.filtro )
			console.log( this.filtro )
		}
	}
}
</script>

<style scoped>
</style>
