<template>
	<div class="user-card">
		<div class="user-header">
			<img :src="user.picture">
			<div class="user-info">
				<p>Sexo: {{ user.gender }}</p>
				<p>Edad: 72??????</p>
			</div>
		</div>
		<div>
			<p class="info-name">{{ user.name.fullname }}</p>
			<p>{{ user.location.street }}</p>
			<p>{{ user.location.postcode }} - {{ user.location.city }}</p>
			<p>{{ user.location.state }}</p>
		</div>
		<p class="user-username">{{ user.login.username }}</p>
	</div>
</template>

<script>
export default {
	name: 'UserCard',
	props: ['user']
}
</script>

<style scoped>
.user-card {
	width: 24vw;
	margin-bottom: 2vh;

	padding: 5px;

	background-color: white;
	border: 2px solid black;
	border-radius: 3px;
}

.user-header {
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
}

.user-header img {
	width: 6vw;
	border: 1px solid black;
}

.user-info {
	margin-left: 5px;
}

.info-name {
	font-weight: bold;
}

.user-username {
	text-align: right;
	font-weight: bold;
}
</style>
