<template>
	<div>
		<div class="user-list">
			<div v-for="u in allUsers" :key="u.id">
				<UserCard :user="u" />
			</div>
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';
import UserCard from './UserCard';

export default {
	name: 'UsersList',
	components: {
		UserCard
	},
	computed: mapGetters( ['allUsers'] )
}
</script>

<style scoped>
.user-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
</style>
