<template>
	<div id="app">
		<router-view />
	</div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
	name: 'App',
	methods: mapActions( ['loadUsers'] ),
	created () {
		this.loadUsers()
	}
}
</script>

<style>
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4;
	background-color: lightgrey;
}
</style>
